<h2>Tutorial for <%=@database.name%></h2>

<h3>Using Scaffold(Fast)

<div class="tutorialcontain">
<ol>
<li>Set up your Rails app. Refer to ____ for more info</li>
<li>Change directory into your rails app in console.</li>
<li>Run the following commands</li>
  <div class="commandlines"> <ul>
  <%@database.tables.each do |table|%>
  <li>$ rails generate scaffold <%=table.name%> 
    <%table.fields.each do |field|%>
      <%=field.name%>:<%=field.fieldtype%>
      <% end %></li>
      <% if table.relation == "has_and_belongs_to_many" %>
      <li>$ rails generate migration create_<%= [table.name,table.relativename].sort.join('_')%> <%=table.name%>_id:integer <%=table.relativename%>_id:integer</li>
      <% end %>
      <% end %></ul>
  </div>
<p class="note">'generate' and 'g' are interchangable</p>
  <% @database.tables.each do |t| %>
  <% if t.table_relations[0].present? %>
  <li> In <%=t.name%>.rb</li>
    <div class="typebox">
    <ul>
    <li><span>class</span> <%=t.name.capitalize%> &#60; ActiveRecord::Base</li>
  
  <% t.table_relations.each do |r| %>
  <% t.name = t.name.downcase %>
  <% r.table_to = r.table_to.downcase %>
  <% if r.through.present? %>
  <% r.through = r.through.downcase %>
  <% end %>
    <% if r.relationship.include?  "through" %>
    <li>&nbsp;&nbsp;&nbsp;
    <%=r.relationship.split(' ')[0]%> 
    <% if r.relationship.include? "many" %>
    :<%= r.table_to.pluralize %>,
    <% else %>
    :<%=r.table_to%>,
    <% end %>
    <%=r.relationship.split(' ')[1]%> 
    => :<%=r.through.pluralize%>
    <% else %>
    <li>&nbsp;&nbsp;&nbsp;<%=r.relationship%>
    <% if r.relationship.include? "many" %>
    :<%= r.table_to.pluralize %>
    <% else %>
    :<%=r.table_to%>
    <% end %>
    <% end %>
    <% end %>
    </li>
    <li><span>end</span></li>
    </ul>
    
    </div>
    <% end %>
    <% t.table_relations.each do |r| %>
    <% if r.relationship.include? 'through' %>
    <% else %>
    <li>Likewise, you have to establish the connection in <%=r.table_to%>.rb.</li>
    
    <div class="typebox">
    <ul>
    <li><span>class</span> <%=r.table_to.capitalize%> &#60; ActiveRecord::Base</li>
    <li>&nbsp;&nbsp;&nbsp;<%=
    case r.relationship
      when "has_one"
        "has_one :#{t.name}"
      when "has_many"
        "belongs_to :#{t.name}"
      when "belongs_to"
        "has_many :#{t.name.pluralize}"
      when "has_and_belongs_to_many"
        "has_and_belongs_to_many :#{t.name.pluralize}"
      end%></li>
    <li><span>end</span></li>
    </ul>
    </div>
  <% end %>
  <% end %>
  <% end %>

<li>Once that is done, run a rake create migrate and seed(only if you have seed data)
</li>
<div class="commandlines">
    <ul>
    <li>$ rake db:create</li>
    <li>$ rake db:migrate</li>
    <li>$ rake db:seed</li>
    </ul>
  </div> 

<li>To test that it all works. Try annotate. If you do not have the annotate gem. You can install that typing this in your command line.</li>
  <div class="commandlines">
    <ul><li>$ gem install annotate</li></ul>
  </div> 
 <li>Run annotate in command line.</li>
  <div class="commandlines">
    <ul><li>$ annotate</li></ul>
  </div> 
  <li>It Should Return</li>
<div class="commandlines">
    <ul><li>$ Annotated (<%=@database.tables.length%>): 
    <% @database.tables.each do |table|%>
    <%=table.name%>, <% end %></li></ul>
  </div> 
  <li>Well Done, you have set up a basic database on Rails. </li>
  </ol>
</div>