<%= form_for [@database, @table] do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% if @table.table_relations.any? %>
  <% @table.table_relations.each do |tr| %>
  <%= link_to( tr.relationship,  edit_database_table_table_relation_path(@database.id, @table.id, tr.id)) %>
    <% if tr.relationship.include? "many" %>
    :<%= tr.table_to.pluralize %>
    <% else %>
    :<%= tr.table_to %>
    <% end %>
  <% if tr.through.present? && (tr.relationship.include? "through") %>
  <%= tr.through%>
  <% end %>
  <br>
  <% end %>
  <% end %><br>

  <% if @table.id.present? %>
  <%= link_to("Add new Relationship", new_database_table_table_relation_path(@database.id, @table.id))%>
  <% end %>

  <div class="hide">
  <%= f.text_field :database_id, :value => @database.id %>
  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
