
<%= form_for(@database, @table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fieldnum %><br>
    <%= f.number_field :fieldnum%>
  </div>
  <div class="field">
    <%= f.label "Relation: " %>
    <%= f.select(:relation , Relationship.all.collect {|r| r.name}, {include_blank: 'None'})%>
    </div>
  <div class="field">
    <%= f.label "Relative Name: "%>
    <%=f.select(:relativename , Table.all.collect {|t| t.name }, {include_blank: 'None'})%>
  </div>

  <div class="hide">
  <% if params[:dbid].present? %>
  <%= f.text_field :database_id, :value => params[:dbid]%>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
