<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table.name %>
</p>

<p>
  <strong>Database:</strong>
  <%=link_to @database.name, database_path(@database.id)%>
</p>

<p>
  <strong>Number of fields:</strong>
  <%= @table.fieldnum %>
</p>


<%= link_to 'Edit', edit_database_table_path(@database, @table.id) %> |
<%= link_to 'Back', database_table_path %>


<% if @table.fields.any? %>
<% @table.fields.each do |t|%>
<h5><%=link_to(t.name, database_table_field_path(@database.id, @table.id, t.id))%>:<%=t.fieldtype%></h5>
<% end %>
<% end %>

# <%=link_to("New field?", new_database_table_field_path(@database.id, @table.id))%>