<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table.name %>
</p>

<p>
  <strong>Database:</strong>
  <%=link_to @table.database_id, database_path(@table.database_id)%>
</p>

<p>
  <strong>Number of fields:</strong>
  <%= @table.fieldnum %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>


<% if @table.fields.any? %>
<% @table.fields.each do |t|%>
<h5><%=link_to(t.name, t)%>:<%=t.fieldtype%></h5>
<% end %>
<% end %>

<%=link_to("New field?", {:controller => 'fields', :action => 'new', :dbid => @table.id})%>