

<p id="notice"><%= notice %></p>




<div id="databasecanvas">
<h2>Tables Created in <%=link_to(@database.name, edit_database_path)%> </h2> 
<% if @database.tables.any? %>
  <div class="mTable"><% @database.tables.each do |t|%> 
    <% if t.relation.nil? %>
      <% if  Table.pluck(:relativename).member? t.name %>
      <div class="relative mBox element" id="<%=t.name%>"> 
      <% else %>
      <div class="mBox"> 
      <% end %>
      <% else %>
      <div class="related <%=t.relativename%> mBox" id="<%=t.name%>">
      <% end %>
    <h3><%=link_to(t.name, "/databases/#{@database.id}/tables/#{t.id}/edit")%> <%=t.relation%> <%=t.relativename%></h3>
    <div class = "mField">
    <% t.fields.each do |f| %>
      <h5>field  : <%=link_to(f.name+':'+f.fieldtype, "/databases/#{@database.id}/tables/#{t.id}/fields/#{f.id}/edit")%></h5>
    <% end %> 
      <h6><%= link_to('New Field',"/databases/#{@database.id}/tables/#{t.id}/fields/new")%></h6>
    </div>   
    </div>
  <% end %>
  
  </div>
<% end %>
<h4><%= link_to("Create New Table", new_database_table_path(params[:database_id])) %></h4>
<form action="/generator/<%=@database.id%>">
  <label for="fname">File Name</label>
  <input id="fname" name="fname" type="text">
  <button>GENERATE</button>      
</form>
</div>


 




