<%= form_for(@field) do |f| %>

  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @field.table_id = params[:dbid] %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fieldtype %><br>
    <%= f.select :gender, ['Mare', 'Stallion', 'Gelding'] %>
  </div>
    <%= f.text_field :table_id, :value => params[:dbid] %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
